@font-face {
  font-family: "S-CoreDream-3Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff")
     format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  width: 100%;
  max-width: 1440px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.flow-text-box{
  background-color: #fff;
  position: relative;
  z-index: 3;
  padding: 5rem 0;
  border-top: 10px double  #ddd;
  border-bottom: 10px double  #ddd;
  overflow: hidden;
  .flow-text{
    /* background: #f8efe4; */
    /* background: #b9ae8f; */
    background: #222;
    p{
      
    font-size: 17rem;
    width: 100%;
    text-align: center;
    padding-right: 5rem;
    padding-left: 5rem;
    color: #ffffff;
    }

  }
}


.App{
  font-family: "S-CoreDream-3Light";
  .header{
    position: fixed;
    padding: 2rem 0;
    height: 8rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: bold;
    z-index: 10;
    background: rgba($color: #fff, $alpha: .5);
    .container{
      justify-content: space-between;
      border-top: 1px solid #222;
      border-bottom: 4px double #222;
      max-width: 1640px;
      padding: .5rem 0;
      .header-item3{
        position: relative;
        &::after{
          content: "";
          background: #6ef421;
          display: inline-block;
          position: absolute;
          left: -2rem;
          top: 40%;
          width: .7rem;
          height: .7rem;
          opacity: 1;
          animation-name: circle;
          animation-duration: 2s;
          border: .5px solid #61fc07;
          
          animation-iteration-count: infinite;
          animation-fill-mode: backwards;
          animation-timing-function: linear;
          transform:  scale(1);
          transform-origin: 50% 50%;
          border-radius: 50%;
        }
      }
    }
  }
  .mainPage{
    width: 100%;
    height: 100vh;
    .container{
      .main-textBox{
        font-family: 'Pretendard-Regular';
        width: 100%;
        position: relative;
        height: 50rem;
        
        
        
        .mainText{
          display: inline-block;
          position: absolute;
          font-weight: 900;
          &.mainText1{
            font-size: 20rem;
            
            z-index: 2;
            letter-spacing: 5rem;
            vertical-align: baseline;
          }
          &.mainText2{
            position: fixed;
            font-size: 25rem;
            z-index: 1;
            padding-bottom: 5rem;
            color: #ddd;
            letter-spacing: 4rem;
            
          }
        }
        .subText{
          position: absolute;
          bottom: 0;
          padding-top: 2rem;
          font-size: 2.2rem;
          z-index: 2;
          font-weight: normal;
          text-align: center;
          line-height: 1.5;
          span{
            line-height: 2;
          }
        }
      }
      .scroll-icon{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 2rem;
        flex-direction: column;
        font-size: 1.5rem;
        z-index: 2;
        
        i{
          font-size: 4rem;
          animation-name: scroll-icon;
          animation-duration: 1s;
          animation-direction: alternate;
          animation-iteration-count: infinite;
          animation-timing-function: ease-out;
          position: relative;
          bottom: 0;
          
        }
      }
    }
  }
  .About{
    position: relative;
    width: 100%;
    z-index: 3;
    transition: ease 1s;
    
    &.scrollActive{
      /* background: #c0b59da1; */
      background: #dddddd94;
      /* background: #000000c4; */

    }
    .container{
      flex-direction: column;
      
      .about-box{ 
        width: 80%;
        height: 70rem;
        margin: 10rem 0;
        background: #fff;
        box-shadow: 5px 5px 10px #ddd;
        border-radius: 20px;
        opacity: 0;
        position: relative;
        transition: 1s;
        &.scrollActive{
          animation-name: opacity;
          animation-duration: 1s;
          animation-delay: 1s;
          animation-fill-mode: forwards;

        }
        &.abuotActive{
          transform: rotateY(180deg);
          
        }
        .about-box-item-box{
          width: 100%;
          height: 100%;
          transition: 1s;
          &.abuotActive{
            display: none;

          }
        }
        .about-item{
          width: 50%;
          height: 100%;
          padding: 5rem 0;
          
        }
        .about-imgBox{
          img{
            height: 100%;
          }
        }
        .about-textBox{
          position: relative;
          flex-direction: column;
          h2{
            position: absolute;
            top: 0;
            font-size: 3.5rem;
            margin-top: 4rem;
          }
          .about-text{
            padding: 0 5rem;
            font-size: 2rem;
            line-height: 2;
            .about-text-style{
              display: block;
              margin-bottom: 2rem;
            }
          }
        }
        .about-hover-box{
          position: absolute;
          top: 0; left: 0;

          display: none;
          width: 100%;
          height: 100%;
          background: #ffffffc4;
          border-radius: 20px;

          cursor: pointer;
          .about-hover-text{
            font-size: 3rem;
            transition: 1s;
            &.abuotActive-text{
              transform: rotateY(180deg);
            }
          }
        }
        .about-box-item-box1{
          display: none;
          transition-delay: .5s;
          transition: 1s;
          &.abuotActive1{

            display: flex;
            flex-wrap: wrap;
            justify-content: start;
            transform: rotateY(180deg);
            animation-name: opacity;
            animation-duration: 1s;
            
            width: 100%;
          }
          .about-box-item{
            width: 50%;
            padding: 1rem 2rem;
            .about-box-item-title{
              justify-content: start;

              font-size: 2.5rem;

              padding-left: 2rem;
              margin-left: 3rem;
              margin-bottom: 2rem;
              position: relative;
              &::after{
                content: "";

                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);

                width: .8rem;
                height: .8rem;
                display: block;
                background: #222;
                border-radius: 50%;

              }
            }
            .about-box-item-content{
              font-size: 2.3rem;
            }
          }

        }
        &:hover .about-hover-box{
          display: flex;
        }
      }
      
    }

  }
  .Skills{
    z-index: 2;
    position: relative;
    width: 100%;
    height: 100vh;
    background: #fff;
    .container{
      .Skills-box{
        width: 100%;
        flex-direction: column;
        align-items: baseline;
        position: relative;
        
        .skills-title{
          position: absolute;
          left: 50%;
          font-size: 10rem;
          transform: translateX(-20%);
          &.title-active{display: none;}
        }
        .scroll-icon{
          padding-left: 10rem;
          padding-bottom: 3rem;
          transform: translateX(-50%);
          flex-direction: column;
          font-size: 1.5rem;
          z-index: 2;
          span{
            display: block;
            font-size: 2rem;
          }
          
          i{
            font-size: 4rem;
            animation-name: scroll-icon;
            animation-duration: 1s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
            animation-timing-function: ease-out;
            position: relative;
            bottom: 0;
            
          }
        }
        .skill-itemBox{
          padding: 2rem 0;
          position: relative;
          width: 100%;
          height: 14rem;
          .skill-item{
            position: absolute;
            width: 10rem;
            height: 10rem;
            /* background: #c0b59d; */
            background: url(../public/img/button2.png) no-repeat center center/ 100%;
            box-shadow: 0px 0px 10px #575757;
            border-radius: 50%;
            transition: 2s;
            top: 0;
            left: 0;
            z-index: 2;
            cursor: pointer;
            &.clickclass{
              left: 50%;
              transform: rotate(360deg);
              &.clickclass-1{
                top: 100%;
              }
              &.clickclass-2{
                top: 0%;
              }
              &.clickclass-3{
                top: -100%;
              }
            }
          }
          .skill-item-1-box{
            transition: 2s;
            opacity: 0;
            &.Active{
              opacity: 1;
            }
            .skill-item-1{
              z-index: 1;
              width: 10rem;
              height: 10rem;
              background: #222;
              border-radius: 50%;
              position: absolute; 
              transition: 2s;
              top: 0;
              left: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              animation-name: zindex;
              animation-delay: 2s;
              animation-fill-mode: forwards;
              box-shadow: 0 0 15px #91744e; 
              &:hover .skill-title{
                display: block;
              }
              .skill-title{
                display: none;
                font-size: 2.5rem;
                color: #000;
                text-align: center;
                font-weight: bold;
                transform: translate(-50%,-50%);
                
              }

              &.skill-item-1-0{
                z-index: 1;
                background: none;

                
              }
              &.skill-item-1-1{ 
                .skill-title{
                  position: absolute;
                  top: 270%;
                  left: 50%;
                }
                top: -220%; }
              &.skill-item-1-2{ 
                top: -70%; left: -250%;
                .skill-title{
                  position: absolute;
                  top: 120%;
                  left: 300%;
                  
                }
              }
              &.skill-item-1-3{ 
                top: -70%; left:  250%;}
                .skill-title{
                  position: absolute;
                  top: 120%;
                  left: -200%;
                }
              &.skill-item-1-4{ 
                .skill-title{
                  position: absolute;
                  top: -150%;
                  left: 200%;
                }
                top: 200%; left: -150%;}
              &.skill-item-1-5{ 
                .skill-title{
                  position: absolute;
                  top: -150%;
                  left: -100%;
                }
                top: 200%; left:  150%;}
              
              &.skill-item-1-1-1{background: url(../public/img/skill/JavaScript.svg) no-repeat center center /100%;}
              &.skill-item-1-1-2{background: url(../public/img/skill/HTML.svg) no-repeat center center /100%;}
              &.skill-item-1-1-3{background: url(../public/img/skill/CSS.svg) no-repeat center center /100%;}
              &.skill-item-1-1-4{background: url(../public/img/skill/Sass.svg) no-repeat center center /100%;}
              &.skill-item-1-1-5{background: url(../public/img/skill/Bootstrap.svg) no-repeat center center /100%;}

              &.skill-item-1-2-1{background: url(../public/img/skill/JQuery.svg) no-repeat center center /100%;}
              &.skill-item-1-2-2{background: url(../public/img/skill/React-Light.svg) no-repeat center center /100%;}
              &.skill-item-1-2-3{background: url(../public/img/skill/Redux.svg) no-repeat center center /100%;}
              &.skill-item-1-2-4{background: url(../public/img/skill/axios-icon.svg) no-repeat center center /100%;}
              &.skill-item-1-2-5{background: url(../public/img/skill/NextJS-Light.svg) no-repeat center center /100%;}

              &.skill-item-1-3-1{background: url(../public/img/skill/VisualStudio-Light.svg) no-repeat center center /100%;}
              &.skill-item-1-3-2{background: url(../public/img/skill/Figma-Light.svg) no-repeat center center /100%;}
              &.skill-item-1-3-3{background: url(../public/img/skill/Git.svg) no-repeat center center /100%;}
              &.skill-item-1-3-4{background: url(../public/img/skill/Github-Light.svg) no-repeat center center /100%;}
              &.skill-item-1-3-5{background: #fff no-repeat center center /100%;}
            }
          }
        }
      }
    }
  }
  .Project{
    /* background: #f8efe4; */
    justify-content: start;
    flex-direction: column;
    position: relative;
    z-index: 3;
    padding-top: 2rem;
    transition: linear .5s;
    opacity: 0;
    &.scrollActive{
      /* background: #EEE2DE; */
      background: #fff;
      opacity: 1;
    }
  }
  .Contact{
    position: relative;
    z-index: 3;
    background-color: #fff;
    padding-top: 45rem;
    .container{
      flex-direction: column;
      .contact-banner{
        width: 100%;
        text-align: center;
        overflow: hidden;
        .contact-banner-subText{
          position: relative;
          top: -25rem;
          font-size: 3rem;
          width: 100%;
          text-align: left;
          margin-left: 26rem;
          &.bannerAnimation{ animation: scroll-text .3s ease 1  forwards; }
        }
        .contact-banner-text{
          display: inline-block;
          position: relative;
          font-size: 15rem;
          top: -25rem;
          &.bannerAnimation{ animation: scroll-text .3s ease 1  forwards; }
          $i: 1;
          @while $i < 11 {
            &.contact-banner-text#{$i} {
              animation-delay: $i / 20 + s;
            }
            $i: $i + 1;
          }
          
        }
      }
      .contact-box{
        margin-top: 10rem;
        width: 100%;
        .contact-info{
          width: 50%;
          flex-direction: column;
          .contact-info-title{
            width: 100%;
            margin-bottom: 1rem;
            font-size: 3rem;
            font-weight: bold;
          }
          .contact-info-item{
            width: 100%;
            font-size: 2.5rem;
            padding: 3rem 1rem;
            .phone-address{
              cursor: pointer;
              display: inline-block;
            }
          }.phone-img-box{
            width: 40rem;
            height: 75rem;
            .Modal{
              animation-name: opacity;
              animation-duration: 2s;
            }
            .phone-img{
              position: absolute;
              height: 100%;
              &.phone-img1{
                z-index: 2;
                width: 57rem;
                height: 75rem;
                border-radius: 30px;
              }
              &.phone-img2{
                width: 34rem;
                height: 63rem;
                border-radius: 30px;
              }
            }
          }
          
        }
        .contactForm{
          width: 50%;
          flex-direction: column;
          padding: 2rem;
          border: 2px solid #222;
          .formLabel{
            font-size: 2rem;
            padding-bottom: 1rem;
          }
          .inputStyle{
            width: 100%; 
            margin-bottom: 1rem;
            padding: 1rem .5rem;
          }
          .areaStyle{
            width: 100%;
            padding: 1rem .5rem;
          }
          .btnStyle{
            width: 100%;
            background: #484848;
            color: #fff;
            padding: 2rem 3rem;
            margin-top: 2rem;
            border: 1px solid #222;
            cursor: pointer;
            &:hover{
              background: #222;
              color: #fff;
            }
          }
        }
      }
    }
  }
  margin-bottom: 20rem;

}





/* 1640 */
@media screen and (max-width:1640px) {
  .App{
    
    .header{
      padding: 2rem 5rem;
    }
    .mainPage{
      width: 100%;
      height: 100vh;
    }
    .container{
      padding: 0 5rem;
    }
    
  }
}

@keyframes circle {
  0%{
    background: #6ef421;
    transform: scale(1);
  }
  60%{
    opacity: 1;
    transform: scale(1);
  }
  90%{
    opacity: 0;
    transform: scale(1.6);
  }
  100%{
    opacity: 0;
    transform: scale(1.6);
  }
  /* 100%{
    background: #6ef421;
    opacity: 1;
    transform: scale(1);
  } */
}
@keyframes scroll-icon {
  to{
    bottom: -1rem;
  }
}
@keyframes opacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
@keyframes zindex {
  0%{
    pointer-events:none;
  }
   100%{
    z-index: 3;
    pointer-events: all;
   }  
}
@keyframes scroll-text {
  90%{
    top: 4rem;
  }

  100%{
    top: 0;
  }
}